@{
    ViewBag.Title = "Xuất hàng";
    ViewBag.showFeature = true;
}
@section Style{
    <link rel="Stylesheet" href="~/Content/Export.css" />
}
<div class="margin">
    <div class="export d-flex align-items-center justify-content-between">
        <h3>Xuất hàng</h3>
        <a href="~/Import_Product/Add">
            <span>Cập nhật</span>
        </a>
    </div>
</div>

