
@{
    ViewBag.Title = "Cập nhật";
    ViewBag.showFeature = true;
}
@section Style{
    <link rel="Stylesheet" href="~/Content/Export.css" />
}
<div class="margin">
    <div class="export">
        <h3>Cập nhật</h3>
    </div>
    <div class="info-products">
        <table class="table">
            <tr>
                <th>Mã hàng</th>
                <th>Tên hàng hóa</th>
                <th>Số lượng</th>
                <th></th>
            </tr>
        </table>
    </div>
</div>
