
@{
    ViewBag.Title = "Index";
    ViewBag.showFeature = true;
}
<div class="margin">
    <h3 style="text-align:center">ĐƠN ĐẶT HÀNG</h3>
    <p class="text-center">Số:</p>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Tên mặt hàng</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
    </table>

</div>