@using QuanLyKhoHang.Views.Manage_Product
@{
    ViewBag.Title = "Quản lý hàng hóa";
    ManageProduct childrenFeatures = new ManageProduct();
    ViewBag.Children = childrenFeatures.Show();
    ViewBag.showFeature = true;
}
@section Style{
    <link rel="Stylesheet" href="~/Content/Manage.css" />
}
<div class="margin">
    <div class="info-products">
        <table class="table">
            <tr>
                <th>Mã hàng</th>
                <th>Tên hàng hóa</th>
                <th>Loại hàng hóa</th>
                <th>Giá cả</th>
                <th>Số lượng</th>
                <th></th>
            </tr>
        </table>
    </div>
</div>

