@using QuanLyKhoHang.Views.Manage_Product
@model IEnumerable<QuanLyKhoHang.Models.HANGTON>
@{
    ViewBag.Title = "Báo cáo hàng tồn";
    ManageProduct childrenFeatures = new ManageProduct();
    ViewBag.Children = childrenFeatures.Show();
    ViewBag.showFeature = true;
    DateTime date = DateTime.Today;
}

<div class="margin d-flex flex-column align-items-center" >
    <h2>BÁO CÁO TỒN KHO</h2>
    <h6>NGÀY: @date.ToString("dd/MM/yyyy")</h6>
    <table class="table">
        <tr>
            <th>Mã sản phẩm</th>
            <th>Mã hàng tồn</th>
            <th>Số lượng</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.MASP)</td>
                <td>@Html.DisplayFor(model => item.MA_HANGTON)</td>
                <td>@Html.DisplayFor(model => item.SOLUONG)</td>
            </tr>
        }
    </table>
</div>
